.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: linear-gradient(to right top, #c0c0aa, #1cefff);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

#logo00 {
    position: absolute;
  /*  background-color: red;*/
    background-image: url('https://cdn.glitch.me/24815548-7497-4f42-94c8-85df5e5e759a%2FIGG.png?v=1639292606486');
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px;
    left: -3px;
    width: 150px;
    height: 120px;
    cursor: pointer;
}
#hash{
    position: absolute;
    background: linear-gradient(to right top, #8e9eab, #eef2f3);
    top: 15px;
    left: 150px;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash:hover {
    width: 205px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #757F9A, #D7DDE8);
}

 
#hash1{
    position: absolute;
    background: linear-gradient(to right top, #8e9eab, #eef2f3);
    top: 15px;
    left: 380px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash1:hover {
    width: 155px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #757F9A, #D7DDE8);
}


#hash2{
    position: absolute;
    background: linear-gradient(to right top, #8e9eab, #eef2f3);
    top: 15px;
    left: 550px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash2:hover {
    width: 105px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #757F9A, #D7DDE8);
}

#hash3{
    position: absolute;
    background: linear-gradient(to right top, #8e9eab, #eef2f3);
    top: 15px;
    left: 670px;
    width: 190px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash3:hover {
    width: 195px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #757F9A, #D7DDE8);
}


#hash4{
    position: absolute;
    background: linear-gradient(to right top, #283048, #859398);
    top: 15px;
    left: 890px;
    width: 190px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash4:hover {
    width: 195px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #536976, #292E49);
}

#hash5{
    position: absolute;
    background: linear-gradient(to right top, #283048, #859398);
    top: 15px;
    left: 1100px;
    width: 90px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash5:hover {
    width: 95px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #536976, #292E49);
}

#hash6{
    position: absolute;
    background: linear-gradient(to right top, #283048, #859398);
    top: 15px;
    left: 1200px;
    width: 140px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ;
}
#hash6:hover {
    width: 145px;
    height: 30px;
    top: 13px;
    background-position: left;
    background: linear-gradient(to right top, #536976, #292E49);
}

#box {
    position: absolute;
    top: 40px;
    right: -15px;
    transform: translate(-50%,-50%);
}
#notifications {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    cursor: pointer;
    transition: 0.5s;
}
#notifications:hover {
    width: 64px;
    height: 64px;
}
#notifications .fas {
    color: palegoldenrod;
    line-height: 60px;
    font-size: 30px;
}

#notifications #num {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff2c74;
    color: #fff;
    line-height: 25px;
    font-family: sans-serif;
    text-align: center;
}

#nof-board {
    position: absolute;
    top: 40px;
    right: 45px;
    background: rgba(255, 255, 255, 0.2);
    width: 10px;
    height: 20px;
    border-radius: 20px;
    opacity: 0%;
}
